numpy==1.26.4
opencv-python-headless==4.9.0.80
albumentations==1.3.0
mediapipe==0.10.14
omegaconf==2.3.0
scikit-image==0.22.0
timm==0.9.16
tqdm==4.66.2
chumpy==0.70
pytorch-lightning==2.2.1
fvcore
iopath
gdown
streamlit==1.33.0

